<section class="hero">
  <div class="row">
    <div class="small-12 columns">
      <div class="overlay">
        <h1>Learn Guitar and Bass from the Best</h1>
        <p class="lead">Get started with guitar or take your playing to the next level with high-quality video lessons from the best teachers in the industry.</p>
        <p>
          <a href="#" class="large button">Learn More</a>
          <a href="#" class="large secondary button">See Our Courses</a>
        </p>
      </div>

    </div>
  </div>
</section>

<section class="features">
  <div class="row">
    <div class="medium-4 columns">
      <h4>Feature 1</h4>
      <hr>
    </div>
    <div class="medium-4 columns">
      <h4>Feature 2</h4>
      <hr>
    </div>
    <div class="medium-4 columns">
      <h4>Feature 3</h4>
      <hr>
    </div>
  </div>
</section>
