<section class="hero">
  <div class="row">
    <div class="small-12 columns">
      <div class="overlay">
        <h1>Learn Guitar and Bass from the Best</h1>
        <p class="lead">Get started with guitar or take your playing to the next level with high-quality video lessons from the best teachers in the industry.</p>
        <p>
          <%= link_to "See Our Courses", courses_path, class: 'large button' %>
        </p>
      </div>

    </div>
  </div>
</section>

<section class="features">
  <div class="row">
    <div class="medium-4 columns">
      <h4><i class="fi-torsos-all"></i> The Best People</h4>
      <hr>
      <p>
        Learn from industry experts and musicians who have been playing and teaching successfully for many years.
      </p>
      <hr>
    </div>
    <div class="medium-4 columns">
      <h4><i class="fi-play-circle"></i> The Best Videos</h4>
      <hr>
      <p>
        All our videos are in high-quality format and play with hi-definition audio. Many of our teachers offer close-up and alternative views so you can see exactly what's happening.
      </p>
      <hr>
    </div>
    <div class="medium-4 columns">
      <h4><i class="fi-dollar"></i> Affordable Pricing</h4>
      <hr>
      <p>
        No courses cost more than $150. You can scoop up tons of great courses for a great deal. And don't forget to sign up for our flash sale notifications!
      </p>
      <hr>
    </div>
  </div>
</section>
