.row
  .small-12.columns
    %h2.text-center Learn Something Today
    %br
    - @courses.each do |course|
      .media-object
        .media-object-section.middle
          .thumbnail
            = image_tag "http://placehold.it/150x150"
        .media-object-section
          %h4= link_to course.title, course_path(course)
          %p= course.description
          %p
            = link_to 'Enroll Now', course_path(course), :class => 'large secondary button'
