/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-icons

 *= require_tree .
 */

body {
  font-family: 'Lato', Arial, sans-serif;
}

.brand {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  a {
    color: #0a0a0a;
  }
}

.hero {
  background: url('guitar2.jpg') center center no-repeat;
  background-size: cover;
  padding: 5em 0;
  color: white;
  margin-bottom: 1.5em;

  .overlay {
    padding: 2em 1em;
    border-radius: 1em;
  }
}


.callout.form {
  margin-top: 2em;
}

.error {
  input, textarea {
    border-color: rgb(245, 135, 135);
  }

  small {
    color: rgb(219, 31, 31);
  }
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fafafa;
  padding: 1em 0 0 0;
}

.course-description {
  margin-bottom: 1.5em;
}

.course-details {
  border-right: 1px solid rgb(215, 215, 215);
  margin-bottom: 2em;
  padding: 1em 0;
}
